/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        to right,
        #a46ae3,
        #b1a2f6,
        #fff,
        #b1a2f6,
        #a46ae3
    );
}
