.cabecalho__login {
    display: inline;
    padding-left: 80%;
}

.botao{
    text-decoration: none;
    cursor: pointer;
}

.login, .cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #f110d5;
    border: 3px solid #ddd;
    background-color: #000a2f;
    width: 35%;
    left: 22rem;
    top: 10rem;
}

.login__cabecalho, .cadastro__cabecalho {
    padding: 20px 0;
}

.login__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.botao--entrada{
    text-align: center;
    border-radius: 10px;
    width: 12.5em;
    height: 2.5em;
    transition: 0.5s;
}

.botao--entrada:hover{
    background-color: #119fd5;
}

.botao--cadastro{
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.botao--cadastro:hover{
    color: #001be5;
}

.dados{
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
}