/*Barra de Navegação*/

.layout-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2304b6; 
    }

.layout-cabecalho > img{
    margin: 10px;
    width: 80px;
    border-radius: 90%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.nav-links li a:hover {
    color: #b1a2f6; /* Fúcsia */
}

/* Ícone do menu mobile */
.mobile-menu-icon {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 32px;
        background-color: #2304b6;
        width: 10rem;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .mobile-menu-icon {
        display: block;
    }
}

.layout-rodape{
    margin-bottom: 0svh;
    height: 80px;
}

